/* GENERAL */
body {
    color: #060608;
    background: #eef7fb;
    font-family: Monospaced, "Source Sans Pro", sans-serif
}

/* clearfix */
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.menu li {
    float: left;
}

.fa {
    vertical-align: middle;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

/* CONTACT */
.contact-bar {
    height: 80px;
    background: #31acff;
}

.personal {
    margin-top: 25px;
    float: left;
}

.personal li {
    margin-right: 50px;
}

.personal a {
    color: #fff;
    font-size: 14px;
}

.personal i {
    margin-right: 10px;
    font-size: 30px;
}

.social {
    margin-top: 17px;
    float: right;
}

.social i {
    font-size: 20px;
}

.social-icon {
    display: block;
    width: 48px;
    height: 48px;

    color: #2192ff;
    background: white;

    text-align: center;
    line-height: 45px;

    border-radius: 2px;
    margin-left: 3px;
}

.social-icon:hover,
.social-icon:focus {
    color: #ffffff;
    background: #727272;
}

/* NAVIGATION */
.nav-bar {
    background-image: linear-gradient(to right,#e4e4e4 43%, #f4f4f4 59%);
    height: 120px;
}

.logo {
    float: left;
}

.logo a {
    color: #727272;
    display: block;
    margin-top: 20px;

    font-size: 35px;
    font-family: 'Great Vibes', cursive;
    padding: 9px 5px 0 5px;
    border: white 2px solid;
    background: white;
}

.logo span {
    color: #2192ff;
    letter-spacing: 1px;
}

.logo .fa {
    color: #2192ff;
    padding-left: 16px;
    padding-bottom: 7px;

}

.navigation {
    float: right;
}

.navigation .fa {
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
}

.navigation li {
    border-left: 1px #bfbfbf solid;
}

.navigation li:last-child {
    border-right: 1px #bfbfbf solid;
}

.navigation a {
    display: block;
    width: 130px;
    height: 120px;

    text-align:  center;
    font-size: 18px;
    text-transform: uppercase;

    color: #727272;
}

.navigation .selected {
    color: #2192ff;
}

.navigation a:hover,
.navigation a:focus {
    color: #2192ff;
}

.quote {
    font-size: 17px;
    color: #2192ff;
    font-weight: 600;
    line-height: 25px;
    text-indent: 5px;

    position: absolute;
    top: 137px;
    left: 457px;
}


/* ARTICLE */
.post-header {
    height: 400px;
    background: url("../img/logo.jpg") no-repeat center;
    margin-bottom: 45px;
}

.text-center {
    text-align: center;
    line-height: 40px;
    color: #23070c;
    font-weight: 600;
    margin-bottom: 60px;

}

.post-title {
    display: inline-block;
    margin-top: 381px;
    margin-left: 400px;
}

.post-title a {
    color: #2192ff;
    background: #fff;
    padding: 10px 30px;

    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
}

.post-title a:hover,
.post-title a:focus {
    color: #ffffff;
    background: #2192ff;
}

.post-content {
    padding-bottom: 150px;
}

/* ARTICLE-PORTFOLIO */
.portfolio {
    background: #58cfff;
    padding-bottom: 90px;
}

.text-portfolio {
    text-align: center;
    text-transform: uppercase;
    padding: 5px 15px;
    background: #ffffff;
    display: inline-block;

    margin-left: 450px;
    color: #2192ff;
}

.gallery {
    font-size: 0;
    width: 1165px;
    margin: 0 auto;
}

.portfolio h1 {
    margin-top: -50px;
}



